NEXT_PUBLIC_FE_URL="http://localhost:3000"
NEXT_PUBLIC_BE_URL="http://localhost:3000"

# Prefix for your project name.
NEXT_PUBLIC_PREFIX="nextjs-app-dir-template"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth Github Provider
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=

# Drizzle
# Get the Database URL from the "supabase" database settings.
# https://supabase.com/docs/guides/database/connecting-to-postgres#connecting-with-drizzle
DATABASE_URL=
